## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Data Understanding

# Final Project Submission - rewrite title

## Introduction
The company I work for is expanding into new industries to diversify its portfolio, and I have been tasked with determinig which aircraft has the lowest risk, to help facilitate the start of this new business endeavor. We are specifically interested in purchasing and operating airplanes for commercial and private enterprises.

### Objectives
- Identify low-risk aircraft for the new aviation division.
- Yield three business recommendations from the low-risk aircraft findings.

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

### Data Understanding
I will be working with a dataset from the National Transportation Safety Board that includes aviation accident data from 1962 to 2023 about civil aviation accidents and selected incidents in the United States and international waters. It is from Kaggle (https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses). My aim is to gain insights into the contributing factors of these accidents to be able to identify which aircrafts have the lowest risk.


The data is contained in `Aviation_Data.csv` and each record represents an accident, with details of its occurrence.
The target variable is Accident.

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

### Business Understanding


The main question i want to answer is which aircraft is associated with low risk?
The questions I am seeking to answer are:

1. Which categories of flights experience fewer accidents? Is it commercial or private?

2. Which types of aircraft damages are most costly and how often do they occur?

3. Are amateur-built aircrafts more prone to damage or severe outcomes compared to professionally built aircraft?

4. Which aircraft models are least likely to sustain damage?

#### 1. Importing Standard Packages

In the cell below, we:

* Import and alias `pandas` as `pd`
* Import and alias `numpy` as `np`
* Import and alias `seaborn` as `sns`
* Import and alias `matplotlib.pyplot` as `plt`
* Set Matplotlib visualizations to display inline in the notebook

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

#### 2. Loading the dataset

In the celll below, load `Aviation_Data.csv` as `df`.

In [45]:
file_path = "data\Aviation_Data.csv"
aviation_df = pd.read_csv(file_path)
aviation_df.head()

C:\Users\sharo\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

#### 3. Understanding what we have in the dataset

Lets understand the structure and contents of this dataset

In [46]:
# to display information about the dataset
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

Next we check to see the statistical summary of the numeric columns

In [47]:
# Summary statistics
aviation_df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [48]:
# Columns of the dataframe
aviation_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [40]:
# counts on how many different values are there for each feature
describe_more(df)

NameError: name 'describe_more' is not defined

In [49]:
# Missing values
aviation_df.isnull().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

### Handling missing data

First we will check fir missing values then decide on how to deal with them. Missing values can be dropped, replaced or kept, but with a place value

In [44]:
# Check for missing values in each column
missing_values = aviation_df.isnull().sum()

# Calculate percentage of missing values
missing_percentage = (missing_values / len(aviation_df)) * 100

# Combine into a DataFrame for clarity
missing_data = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percentage})
missing_data.sort_values(by='Percentage', ascending=False, inplace=True)

print(missing_data)

                        Missing Values  Percentage
Schedule                         77766   86.073848
Air.carrier                      73700   81.573471
FAR.Description                  58325   64.555939
Aircraft.Category                58061   64.263736
Longitude                        55975   61.954886
Latitude                         55966   61.944924
Airport.Code                     40099   44.382831
Airport.Name                     37558   41.570372
Broad.phase.of.flight            28624   31.681941
Publication.Date                 16689   18.471909
Total.Serious.Injuries           13969   15.461327
Total.Minor.Injuries             13392   14.822686
Total.Fatal.Injuries             12860   14.233851
Engine.Type                       8536    9.447913
Report.Status                     7840    8.677558
Purpose.of.flight                 7651    8.468367
Number.of.Engines                 7543    8.348829
Total.Uninjured                   7371    8.158454
Weather.Condition                 5951    6.586753
Aircraft.damage                   4653    5.150086
Registration.Number               2776    3.072564
Injury.Severity                   2459    2.721698
Country                           1685    1.865011
Amateur.Built                     1561    1.727764
Model                             1551    1.716695
Make                              1522    1.684597
Location                          1511    1.672422
Event.Date                        1459    1.614867
Accident.Number                   1459    1.614867
Event.Id                          1459    1.614867
Investigation.Type                   0    0.000000

Next we'll drop columns that missing values are more than 50% of the values and rows that have more than 80% missing.

In [52]:
# Drop columns with >50% missing values
aviation_df = aviation_df.loc[:, missing_percentage <= 50]
aviation_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,Minor,NaN,...,NaN,Personal,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,PAN,PAYSON,Non-Fatal,Substantial,...,NaN,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,NaN,Personal,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,Minor,NaN,...,NaN,Personal,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [53]:
# Drop rows with too many missing values
aviation_df = aviation_df.dropna(thresh=len(aviation_df.columns) * 0.8)
aviation_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,KLWT,Lewiston Municipal Airport,Non-Fatal,Substantial,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022
90332,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,SIG,FERNANDO LUIS RIBAS DOMINICCI,Non-Fatal,Substantial,...,NaN,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90335,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,ICT,WICHITA DWIGHT D EISENHOWER NT,Non-Fatal,Substantial,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022
90336,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,BKV,BROOKSVILLE-TAMPA BAY RGNL,Minor,Substantial,...,NaN,Personal,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,PAN,PAYSON,Non-Fatal,Substantial,...,NaN,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022

In [54]:
# Checking to see which columns have been cleaned.
aviation_df.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     22
Country                     213
Airport.Code              33624
Airport.Name              31028
Injury.Severity              71
Aircraft.damage            1745
Registration.Number         207
Make                         11
Model                        29
Amateur.Built                10
Number.of.Engines          2061
Engine.Type                2607
Purpose.of.flight          2325
Total.Fatal.Injuries      10280
Total.Serious.Injuries    11022
Total.Minor.Injuries      10314
Total.Uninjured            4854
Weather.Condition           695
Broad.phase.of.flight     22104
Report.Status              2888
Publication.Date          14022
dtype: int64

For categorical variables, I will fill in missing values with the mode

In [ ]:
aviation_df['Aircraft Type'].fillna(aviation_df['Aircraft Type'].mode()[0], inplace=True)

In [57]:
aviation_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Airport.Code', 'Airport.Name',
       'Injury.Severity', 'Aircraft.damage', 'Registration.Number', 'Make',
       'Model', 'Amateur.Built', 'Number.of.Engines', 'Engine.Type',
       'Purpose.of.flight', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Report.Status', 'Publication.Date'],
      dtype='object')

Next i'll filter the columns so that i remain with just the relevant ones

In [58]:
# Define the relevant columns
relevant_columns = [
    "Injury.Severity",
    "Aircraft.damage",
    "Make",
    "Model",
    "Amateur.Built",
    "Total.Fatal.Injuries",
    "Total.Serious.Injuries",
    "Total.Minor.Injuries",
    "Total.Uninjured",
    "Broad.phase.of.flight",
    "Weather.Condition",
    "Purpose.of.flight",
    "Number.of.Engines",
    "Engine.Type"
]

# Filter the dataset to include only relevant columns
filtered_df = aviation_df[relevant_columns]

# Display the first few rows of the filtered dataset
filtered_df.head()

,Injury.Severity,Aircraft.damage,Make,Model,Amateur.Built,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Broad.phase.of.flight,Weather.Condition,Purpose.of.flight,Number.of.Engines,Engine.Type
0,Fatal(2),Destroyed,Stinson,108-3,No,2.0,0.0,0.0,0.0,Cruise,UNK,Personal,1.0,Reciprocating
1,Fatal(4),Destroyed,Piper,PA24-180,No,4.0,0.0,0.0,0.0,Unknown,UNK,Personal,1.0,Reciprocating
2,Fatal(3),Destroyed,Cessna,172M,No,3.0,NaN,NaN,NaN,Cruise,IMC,Personal,1.0,Reciprocating
3,Fatal(2),Destroyed,Rockwell,112,No,2.0,0.0,0.0,0.0,Cruise,IMC,Personal,1.0,Reciprocating
4,Fatal(1),Destroyed,Cessna,501,No,1.0,2.0,NaN,0.0,Approach,VMC,Personal,NaN,NaN

Drop columns with over 50% missing values

Convert Date to a datetime, add a Year & Month column

Merge same airport names together

Merge same registration numbers together

Merge different capitalizations of Make together

Transform "Amateur Built" column to boolean

Split location in city and state

Remove amount of injuries as this is already in another column

Merge weather condition- UNK & unk to unknowns

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

Amount of total and fatal accidents per year

Extracting list of 50 makes most frequently involved in accidents

The amateur have a influence on accident or injury severity?

Correlation map

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***